body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

h2 {
  color: #333;
}

form input, button {
  padding: 8px;
  margin: 5px;
}

button {
  cursor: pointer;
}

ul {
  background: #fff;
  padding: 10px;
}
